# 開発用
src/
test/
out/
.vscode/
.vscode-test/
.vscode-test.*
.eslintrc*
eslint.config.*
esbuild.js
tsconfig.json
.gitignore
.yarnrc

# 不要リソース
benchmarks/
tools/
vsc-extension-quickstart.md
images/icon.cand.png

# その他
**/*.map
*.ts
